#load auto_add_route - I commend this out because there is a bug i found with using auto add route plugin. It has something to do with
#tlv negotiation handshake and does not give a shell. Now routing must be done manually for basic pivioting

load alias

alias del rm
alias handler use exploit/multi/handler
alias so show options
alias se show evasion
alias sa show advanced
alias si show info

load sounds

setg TimestampOutput true
setg VERBOSE true

setg ExitOnSession false

setg LHOST 0.0.0.0
setg LPORT 4443
